<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaPods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>608EDE631D8FA0F100749378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>608EDE7F1D8FA0F100749378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>608EDE8A1D8FA0F100749378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
